name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create release with artifacts
        if: ${{ hashFiles('dist/*') != '' }}
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*

      - name: Create release without artifacts
        if: ${{ hashFiles('dist/*') == '' }}
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
